<ion-header>
  <ion-navbar>
    <ion-title>Tip Recording</ion-title>
    <ion-buttons end><button ion-button icon-only (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button></ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tipLog == null">
    <ion-item>
      <ion-label><ion-icon name="calendar" item-start></ion-icon>Select start date to begin</ion-label>
      <ion-datetime displayFormat="DDDD MMM D, YYYY" pickerFormat="DDD MMM YYYY"
                    [(ngModel)]="cycleDateControl" #date (ngModelChange)="createNewCycle(date.value)">
      </ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="tipLog?.waiterLog">
    <button ion-item *ngFor="let day of tipLog?.waiterLog" (click)="editDay(day)">{{ day.logDate | amDateFormat:'ddd, D MMM YYYY'}}
      <ion-icon name="people" item-end></ion-icon><p item-end>{{ day.howManyWaiters }}</p>
      <ion-badge color="secondary" item-end>£{{ day.getTotalTips }}</ion-badge>
    </button>
  </ion-list>
</ion-content>

