//Background
$background-md-color: color($colors, washout);

//Tabs
$tabs-md-tab-icon-color: color($colors, lightgreen);
$tabs-md-tab-text-color: color($colors, lightgreen);

//Tabs active
$tabs-md-tab-text-color-active: color($colors, vividgreen);
$tabs-md-tab-icon-color-active: color($colors, vividgreen);

//Lists
$list-ios-header-background-color: color($colors, lightgreen);
