//Background
$background-ios-color: color($colors, washout);

//Tabs
$tabs-ios-tab-icon-color: color($colors, lightgreen);
$tabs-ios-tab-text-color: color($colors, lightgreen);

//Tabs active
$tabs-ios-tab-text-color-active: color($colors, vividgreen);
$tabs-ios-tab-icon-color-active: color($colors, vividgreen);
